@font-face {
  font-family: "Cutive Mono";
  src: url("../fonts/CutiveMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jersey25";
  src: url("../fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-cutive: "Cutive Mono", monospace;
  --font-jersey: "Jersey25", sans-serif;
  --background-image: url("../img/background-1.png");
  --color-primary: #242422;
  --border-color: #2b2b29;
  --font-color: #cfcfcf;
  --mal-color: #193968;
  --github-color: #24282f;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--color-primary);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-page {
  background-color: var(--color-primary);
  height: 100vh;
  width: 1060px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

@media (max-width: 1200px) {
  .main-page {
    width: 90%;
  }
}

.profile-page {
  margin: 10px;
  padding: 10px;
  height: 25%;
  display: flex;
  flex-direction: row;
}
.profile-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 2%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.profile-info-header {
  font-family: var(--font-cutive);
  display: flex;
  flex-direction: column;
}

.profile-info-header h1 {
  color: var(--font-color);
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

.profile-info-header p {
  margin: 0;
  margin-top: 5px;
  color: var(--font-color);
  font-size: 1.5em;
}

.profile-buttons {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr;
  gap: 10px;
}

.button {
  font-family: var(--font-jersey);
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}

.button#mal-button:hover {
  background-color: var(--mal-color);
  border-radius: 2px;
}

.button#github-button:hover {
  background-color: var(--github-color);
  border-radius: 2px;
}
.button#github-button:active,
.button#mal-button:active {
  padding: 7px;
}

.middle-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-gif {
  width: 80%;
  border: 10px solid var(--border-color);
  border-radius: 5px;

}

.button#play-button {
  align-self: center;
  text-align: center;
  font-size: 3em;
}

#play-button:hover {
  font-size: 3.5em;
}
#play-button:active {
  font-size: 2.5em;
  transition: 0.1s;
}

.footer-page {
  font-family: var(--font-cutive);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bgm-info {
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.bgm-info#artist-name {
  cursor: pointer;
  text-decoration: none;
}

.bgm-info#artist-name:hover {
  color: var(--mal-color);
}

.button#bgm-stop-button {
  display: none;
  font-size: 1.1em;
}

.button#bgm-stop-button:hover {
  font-size: 1.2em;
}
.button#bgm-stop-button:active {
  font-size: 1.1em;
}

@media (max-height: 800px) {
  .middle-gif {
    width: 69%;
  }
}

@media (max-height: 700px) {
  .middle-gif {
    width: 65%;
  }
}

@media (max-height: 600px) {
  .middle-gif {
    width: 50%;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .main-page {
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-between;
    overflow: hidden;
  }

  .button {
    background-color: var(--color-primary);
  }
  .profile-page {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

  }
  .profile-buttons {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }
  .button#bgm-stop-button {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
  .middle-page {
    width: 0px;
  }
  .button#play-button {
    font-size: 1.3em;
    display: block;
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
  .profile-info-header {
    font-size: 0.8em;
    text-align: center;
  }
  .profile-image {
    width: 100px;
    height: 100px;
  }
  .middle-gif {
    display: none !important;
  }
 .footer-page {
    width: 0%;
  } 
  .bgm-info {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 1.2em;
  }
  .footer-page p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

  .bgm-info#artist-name {
    display: none!important;
  }
}

/* Mobile */
@media (max-width: 600px) and (min-height: 500px) {
  body {
    background-image: none!important;
    background-color: var(--color-primary);
    width: 100%;
  }
  .main-page {
    width: 100%;
    height: 100%;
  }
  .profile-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile-image {
    position: absolute;
    top: 5%;
    width: 28%;
    min-width: 100px;
  }
  .profile-info {
    margin-top: 2%;
    align-items: center;
  }
  .profile-info-header {
    font-size: 0.7em;
  }
  .middle-page {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer-page {
    font-size: 1em;
  }
  .middle-gif {
    width: 95%;
    border: 2px solid var(--border-color);
  }
  .mobile-background {
    display: block !important;
    width: 100%;
    height: 20%;
   object-fit: cover;
  }
}